<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ld.sso.roomrent.mapper.RoomRentUserMapper" >
  <resultMap id="BaseResultMap" type="com.ld.sso.roomrent.model.RoomRentUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="is_internal" property="isInternal" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="record_state" property="recordState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_phone, is_internal, company, dept, create_date, create_user, 
    update_date, update_user, record_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ld.sso.roomrent.model.RoomRentUser" >
    insert into t_user (user_id, user_name, user_phone, 
      is_internal, company, dept, 
      create_date, create_user, update_date, 
      update_user, record_state)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{isInternal,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{createUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, 
      #{updateUser,jdbcType=VARCHAR}, #{recordState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ld.sso.roomrent.model.RoomRentUser" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="isInternal != null" >
        is_internal,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="recordState != null" >
        record_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="isInternal != null" >
        #{isInternal,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="recordState != null" >
        #{recordState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ld.sso.roomrent.model.RoomRentUser" >
    update t_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="isInternal != null" >
        is_internal = #{isInternal,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="recordState != null" >
        record_state = #{recordState,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ld.sso.roomrent.model.RoomRentUser" >
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      is_internal = #{isInternal,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      record_state = #{recordState,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateMobileByOldMobile" >
    update t_user
    set 
    user_phone = #{newMobile,jdbcType=VARCHAR}
    where user_phone = #{oldMobile,jdbcType=VARCHAR}	
  </update>
  
  <select id="selectByMobile" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_phone = #{mobile,jdbcType=VARCHAR}	limit 1
  </select>
</mapper>